.mainSection {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .TitlePage {
        font-size: 36px;
        font-weight: bold;
        color: #d2d2d2;
        width: 100%;
        text-align: center;
    }

    .configuration {
        padding: 10px;

        legend {
            font-size: 24px;
            font-weight: bold;
            color: #dcdcdc;
        }

        label {
            font-size: 18px;
            color: #dcdcdc;
            padding: 20px;
        }

        input {
            margin-right: 10px;
        }
    }

    .button {
        cursor: pointer;
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 6px 18px;
        color: #0F1419;
        border: 1px solid #D0D9DE;
        width: fit-content;
    }

    .divTables {

        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

        .table {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-basis: 450px;


            .titleSection {
                font-size: 24px;
                font-weight: bold;
                color: #dcdcdc;
            }

            .listTask {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #FFFFFF;
                border-radius: 10px;

                li {
                    display: flex;
                    border-top: 1px solid #6926D7;
                    width: 100%;
                    padding: 15px;

                    p {
                        color: #333333;
                        width: 25%;
                    }
                }

                .titleList {
                    background-color: #F5F5F5;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;

                    p {
                        font-weight: bold;
                    }
                }

                .resultTime {
                    display: flex;
                    flex-direction: column;

                    p {
                        width: 100%;
                    }

                    &--first {
                        @extend .resultTime;
                        border-top: 2px solid #070707;
                    }

                }
            }
        }
    }


}