* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    //background-color: linear-gradient(#6926D7 0%, #5F1CC9 100%);
    background-color: #6926D7;
}